* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html{
    font-size:70%;
    /* background-image: linear-gradient(#000000, #fafafa );
    background-image: linear-gradient(#000000, #fafafa ); */


.cont {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(#000000, #fafafa );
    background-image: linear-gradient(#000000, #fafafa ); */
    /* display:grid; */
    place-items:center;    
}

.active{
    font-size: 1.3rem;
}

